{% extends 'base.html' %}
{% block title %}
    List of actions
{% endblock %}

{% block content %}
    <form method="post" action="." class="container text-center">

    {% csrf_token %}
    {% for budget in all_budgets %}
    <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
            <th scope="col">Denumire</th>
            <th scope="col"> Cost total</th>
            <th scope="col"> Avans</th>
            <th scope="col"> Rest de plata</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ budget.denumire }}</td>
            <td>{{ budget.cost_total}}</td>
            <td>{{ budget.avans}}</td>
            <td>{{ budget.get_budget }} </td>


        </tr>


        </tbody>
    </table>
    {% endfor %}

{% endblock %}