{% extends 'base.html' %}
{% block title %} Create your budget plan{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3"><br><br>
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center"> Create your budget plan</h3>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            {{ form.as_p }}
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-outline-primary" style="width: 150px"
                               href="{% url 'budget' %}">Cancel</a>
                            <button type="submit" class="btn btn-outline-primary float-end" style="width: 150px">
                                Save
                            </button>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>




{% endblock %}