{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h3>Login</h3>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="card-body">
                        {{ form.as_p }}
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-outline-success">Login</button>
                        <a class ='btn btn-outline-success' href="{% url 'create-user' %}">Sign Up</a>
                        <a class ='btn btn-outline-danger' href="{% url 'password_reset' %}">Forgot my password</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}