{% extends 'base.html' %}

{% block title %} Detail Provider {% endblock %}

{% block content %}

    <div class="container text-center">
        <div class="row">
            <div class="col">
                <table class="table">

                    <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td>{{ provider.name }}</td>

                    </tr>

                    </tbody>
                </table>

                    <h4>{{ provider.name }} </h4><br><br>

            </div>
        </div>
    </div>
    <form action="{% url 'create-rating' provider.id %}">
        <input type="number" name="number" required="" id="id_number">
        <input type="submit" value="Save">

    </form>


    #create_rating
    <div class="container text-center"><a href="{% url 'list-of-providers' %}" class='btn btn-outline-primary'>Cancel</a></div>
{% endblock %}